sphinx==5.3.0
docutils==0.17.1
jinja2==3.1.6
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-katex==0.9.9
pytorch-sphinx-theme==0.0.19
